#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
}

header {
  margin-bottom: 2rem;
}

.header-logo {
  max-width: 150px;
  margin: 0 auto 1rem;
  border-radius: 50%;
}

.header-video {
  margin-bottom: 1rem;
  border-radius: 10px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #fff;
}

textarea {
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

::placeholder {
  color: #fff;
  opacity: 1; 
}

.generate-intro-button {
  margin: 1rem auto;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.show-more-button {
  margin-left: 10px;
  color: #007bff;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
}


button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

table {
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  border-collapse: collapse;
}

th, td {
  padding: 0.75rem;
  border: 1px solid #ddd;
}

th {
  background-color: #007bff;
  color: #fff;
}

td {
  text-align: left;
  color: #000;
}

p {
  font-size: 1rem;
}

p.error {
  color: red;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}